[Desktop Entry]
Name=Vimix-day
X-KDE-PluginInfo-Name=Vimix-day
X-KDE-PluginInfo-Author=Vince Liuice
X-KDE-PluginInfo-Email=vinceliuice@hotmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
